schema/application.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://common-criteria.rhcloud.com/ns/cc" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="PP">
      <attribute name="name"/>
      <element name="PPReference">
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
        <attribute name="title"/>
        <element name="ReferenceTable">
          <element name="PPTitle">
            <text/>
          </element>
          <element name="PPVersion">
            <data type="decimal"/>
          </element>
          <element name="PPAuthor">
            <text/>
          </element>
          <element name="PPPubDate">
            <data type="NMTOKEN"/>
          </element>
          <element name="PPCertificationID">
            <data type="NCName"/>
          </element>
          <element name="CCVersion">
            <text/>
          </element>
          <element name="Keywords">
            <text/>
          </element>
          <ref name="entry"/>
        </element>
      </element>
      <element name="RevisionHistory">
        <oneOrMore>
          <ref name="entry"/>
        </oneOrMore>
      </element>
      <oneOrMore>
        <element name="chapter">
          <attribute name="id">
            <data type="NCName"/>
          </attribute>
          <attribute name="title"/>
          <oneOrMore>
            <choice>
              <text/>
              <ref name="abbr-ref"/>
              <ref name="cite"/>
              <ref name="section"/>
              <ref name="ul"/>
              <element name="cclaims">
                <oneOrMore>
                  <element name="cclaim">
                    <attribute name="id"/>
                    <ref name="description"/>
                  </element>
                </oneOrMore>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
      <oneOrMore>
        <element name="appendix">
          <attribute name="id">
            <data type="NCName"/>
          </attribute>
          <attribute name="title"/>
          <oneOrMore>
            <choice>
              <text/>
              <ref name="section"/>
              <element name="bibliography">
                <oneOrMore>
                  <ref name="entry"/>
                </oneOrMore>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </start>

  <define name="entry">
    <element name="entry">
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <element name="term">
          <oneOrMore>
            <choice>
              <text/>
              <ref name="abbr-def"/>
            </choice>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="version">
          <text/>
        </element>
        <element name="date">
          <data type="NMTOKEN"/>
        </element>
        <element name="subject">
          <text/>
        </element>
      </optional>
      <optional>
        <choice>
          <element name="name">
            <data type="NCName"/>
          </element>
          <element name="tag">
            <data type="NCName"/>
          </element>
        </choice>
      </optional>
      <optional>
        <ref name="description"/>
      </optional>
    </element>
  </define>
  <define name="section">
    <element name="section">
      <attribute name="id">
        <data type="NCName"/>
      </attribute>
      <attribute name="title"/>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="abbr-ref"/>
          <ref name="br"/>
          <ref name="cite"/>
          <ref name="secref"/>
          <element name="InsertSPDCorrespondence">
            <empty/>
          </element>
          <element name="OSPs">
            <element name="OSP">
              <attribute name="id">
                <data type="NCName"/>
              </attribute>
              <ref name="description"/>
              <ref name="objective-refer"/>
            </element>
          </element>
          <element name="SOEs">
            <oneOrMore>
              <element name="SOE">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <ref name="description"/>
              </element>
            </oneOrMore>
          </element>
          <element name="SOs">
            <oneOrMore>
              <element name="SO">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <ref name="description"/>
                <oneOrMore>
                  <element name="component-refer">
                    <attribute name="ref">
                      <data type="NCName"/>
                    </attribute>
                  </element>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
          <element name="assumptions">
            <oneOrMore>
              <element name="assumption">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <ref name="description"/>
                <ref name="objective-refer"/>
              </element>
            </oneOrMore>
          </element>
          <element name="subsection">
            <attribute name="id">
              <data type="NCName"/>
            </attribute>
            <attribute name="title"/>
            <oneOrMore>
              <choice>
                <text/>
                <ref name="abbr-ref"/>
                <ref name="br"/>
                <ref name="cite"/>
                <ref name="secref"/>
                <element name="a-component">
                  <attribute name="id">
                    <data type="NCName"/>
                  </attribute>
                  <attribute name="name"/>
                  <oneOrMore>
                    <choice>
                      <text/>
                      <ref name="aactivity"/>
                      <ref name="abbr-ref"/>
                      <ref name="secref"/>
                      <element name="a-element">
                        <attribute name="id">
                          <data type="NCName"/>
                        </attribute>
                        <ref name="title"/>
                        <optional>
                          <ref name="note"/>
                        </optional>
                        <optional>
                          <ref name="aactivity"/>
                        </optional>
                      </element>
                      <element name="h4">
                        <text/>
                      </element>
                    </choice>
                  </oneOrMore>
                </element>
                <element name="f-component">
                  <attribute name="id">
                    <data type="NCName"/>
                  </attribute>
                  <attribute name="name"/>
                  <optional>
                    <attribute name="status">
                      <data type="NCName"/>
                    </attribute>
                  </optional>
                  <oneOrMore>
                    <element name="f-element">
                      <attribute name="id">
                        <data type="NCName"/>
                      </attribute>
                      <optional>
                        <attribute name="status">
                          <data type="NCName"/>
                        </attribute>
                      </optional>
                      <optional>
                        <attribute name="targetdate"/>
                      </optional>
                      <optional>
                        <element name="selection-depends">
                          <attribute name="req">
                            <data type="NCName"/>
                          </attribute>
                        </element>
                      </optional>
                      <ref name="title"/>
                      <optional>
                        <ref name="note"/>
                      </optional>
                      <ref name="aactivity"/>
                    </element>
                  </oneOrMore>
                </element>
                <element name="figure">
                  <attribute name="entity"/>
                  <attribute name="id">
                    <data type="NCName"/>
                  </attribute>
                  <attribute name="title"/>
                </element>
                <element name="glossary">
                  <oneOrMore>
                    <ref name="entry"/>
                  </oneOrMore>
                </element>
              </choice>
            </oneOrMore>
          </element>
          <element name="threats">
            <oneOrMore>
              <element name="threat">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <ref name="description"/>
                <oneOrMore>
                  <ref name="objective-refer"/>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
          <element name="usecases">
            <oneOrMore>
              <element name="usecase">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <attribute name="title"/>
                <ref name="description"/>
              </element>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="abbr-def">
      <element name="abbr">
        <attribute name="title"/>
	<text/>
      </element>
  </define>
  <define name="abbr-ref">
      <element name="abbr">
	<optional>
	  <attribute name="class"/>
	</optional>
	<choice>
          <attribute name="linkend"/>
	  <group>
	    <attribute name="title"/> <!-- For inline definitions -->
	    <text/>
	  </group>
	</choice>
      </element>
  </define>

  <define name="description">
    <element name="description">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="a"/>
          <ref name="abbr-ref"/>
          <ref name="cite"/>
          <ref name="ul"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="cite">
    <element name="cite">
      <attribute name="linkend">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="ul">
    <element name="ul">
      <oneOrMore>
        <element name="li">
          <oneOrMore>
            <choice>
              <text/>
              <ref name="a"/>
              <ref name="i"/>
              <element name="b">
                <text/>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="br">
    <element name="br">
      <empty/>
    </element>
  </define>
  <define name="secref">
    <element name="secref">
      <attribute name="linkend">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="objective-refer">
    <element name="objective-refer">
      <attribute name="ref">
        <data type="NCName"/>
      </attribute>
      <element name="rationale">
        <oneOrMore>
          <choice>
            <text/>
            <ref name="abbr-ref"/>
          </choice>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="aactivity">
    <element name="aactivity">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="a"/>
          <ref name="abbr-ref"/>
          <ref name="br"/>
          <ref name="cite"/>
          <ref name="secref"/>
	  <group>
            <element name="subaactivity">
              <attribute name="platform">
		<value>blackberry</value>
	      </attribute>
	      <ref name="normal-content"/>
	    </element>
            <element name="subaactivity">
              <attribute name="platform">
		  <value>android</value>
	      </attribute>
	      <ref name="normal-content"/>
	    </element>
            <element name="subaactivity">
              <attribute name="platform">
		  <value>windows</value>
	      </attribute>
	      <ref name="normal-content"/>
	    </element>
            <element name="subaactivity">
              <attribute name="platform">
		  <value>ios</value>
	      </attribute>
	      <ref name="normal-content"/>
	    </element>
            <element name="subaactivity">
              <attribute name="platform">
		  <value>linux</value>
	      </attribute>
	      <ref name="normal-content"/>
	    </element>
            <element name="subaactivity">
              <attribute name="platform">
		  <value>Solaris</value>
	      </attribute>
	      <ref name="normal-content"/>
	    </element>
            <element name="subaactivity">
              <attribute name="platform">
		  <value>OS X</value>
	      </attribute>
	      <ref name="normal-content"/>
	    </element>
	  </group>
	  <ref name="testlist"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  
  <define name="testlist">
    <oneOrMore>
      <ref name="test"/>
    </oneOrMore>
  </define>

  <define name="test">
    <oneOrMore>
      <choice>
	<ref name="normal-content"/>
	<ref name="testlist"/>
      </choice>
    </oneOrMore>
  </define>

  <define name="normal-content">
    <oneOrMore>
      <choice>
        <text/>
        <element name="reqref">
          <attribute name="linkend">
            <data type="NCName"/>
          </attribute>
        </element>
	<ref name="a"/>
        <ref name="br"/>
        <ref name="abbr-ref"/>
        <ref name="i"/>
        <ref name="ul"/>
        <element name="code">
          <text/>
        </element>
      </choice>
    </oneOrMore>
  </define>

  <define name="title">
    <element name="title">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="a"/>
          <ref name="abbr-ref"/>
          <ref name="assignable"/>
          <ref name="i"/>
          <ref name="note"/>
          <ref name="selectables"/>
          <element name="p">
            <empty/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <attribute name="role">
        <data type="NCName"/>
      </attribute>
      <ref name="normal-content"/>
    </element>
  </define>
  <define name="a">
    <element name="a">
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="i">
    <element name="i">
      <text/>
    </element>
  </define>
  <define name="selectables">
    <element name="selectables">
      <optional>
        <attribute name="atleastone">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="linebreak">
	  <choice>
	    <value>yes</value>
	    <value>no</value>
	  </choice>
        </attribute>
      </optional>
      <zeroOrMore>
        <element name="selectable">
          <oneOrMore>
            <choice>
              <text/>
              <ref name="abbr-ref"/>
              <ref name="assignable"/>
              <ref name="selectables"/>
            </choice>
          </oneOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="assignable">
    <element name="assignable">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="abbr-ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
</grammar>
