schema/schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://common-criteria.rhcloud.com/ns/rr" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="report">
      <ref name="version"/>
      <element name="appinfo">
        <ref name="name"/>
        <ref name="description"/>
        <element name="vendor">
          <ref name="name"/>
          <element name="address">
            <element name="street1">
              <text/>
            </element>
            <element name="street2">
              <zeroOrMore>
                <text/>
              </zeroOrMore>
            </element>
            <element name="city">
              <data type="NCName"/>
            </element>
            <element name="state">
              <data type="NCName"/>
            </element>
            <element name="postalcode">
              <data type="integer"/>
            </element>
            <element name="country">
              <data type="NCName"/>
            </element>
          </element>
        </element>
        <element name="packageidentification">
          <data type="NCName"/>
        </element>
        <ref name="version"/>
        <element name="platform">
          <text/>
        </element>
        <element name="hash">
          <attribute name="type">
            <choice>
              <value>sha1</value>
              <value>sha2</value>
            </choice>
          </attribute>
          <text/>
        </element>
        <element name="signature">
          <attribute name="type">
            <choice>
              <value>sha1</value>
              <value>sha2</value>
            </choice>
          </attribute>
          <text/>
        </element>
        <element name="category">
          <data type="NCName"/>
        </element>
        <element name="apptype">
          <data type="NCName"/>
        </element>
        <element name="filename">
          <data type="NCName"/>
        </element>
      </element>
      <element name="apptester">
        <ref name="name"/>
        <element name="email">
          <text/>
        </element>
        <element name="organization">
          <text/>
        </element>
        <element name="datestested">
          <oneOrMore>
            <element name="date">
              <text/>
            </element>
          </oneOrMore>
        </element>
      </element>
      <element name="analysistools">
        <oneOrMore>
          <element name="analysistool">
            <ref name="name"/>
            <ref name="description"/>
            <ref name="note"/>
          </element>
        </oneOrMore>
      </element>
      <element name="supplychain">
        <element name="riskassessment">
          <text/>
        </element>
      </element>
      <element name="productcertifications">
        <element name="fips">
          <text/>
        </element>
        <element name="niap">
          <text/>
        </element>
      </element>
      <element name="analystnotes">
        <element name="summary">
          <text/>
        </element>
        <element name="concerns">
          <text/>
        </element>
      </element>
      <element name="hardwareresources">
        <attribute name="ref">
          <value>fdp_dec_ext.1.1</value>
        </attribute>
        <element name="network">
          <ref name="useraware"/>
        </element>
        <element name="camera">
          <ref name="useraware"/>
        </element>
        <element name="microphone">
          <ref name="useraware"/>
        </element>
        <element name="locationservices">
          <ref name="useraware"/>
        </element>
        <element name="nfc">
          <ref name="useraware"/>
        </element>
        <element name="bluetooth">
          <ref name="useraware"/>
        </element>
        <ref name="other"/>
        <ref name="results"/>
      </element>
      <element name="inforepositories">
        <attribute name="ref">
          <value>fdp_dec_ext.1.2</value>
        </attribute>
        <element name="addressbook">
          <ref name="useraware"/>
        </element>
        <element name="calendar">
          <ref name="useraware"/>
        </element>
        <element name="calllists">
          <ref name="useraware"/>
        </element>
        <element name="systemlogs">
          <ref name="useraware"/>
        </element>
        <ref name="other"/>
        <ref name="results"/>
      </element>
      <element name="storingdata">
        <ref name="results"/>
      </element>
      <element name="networkcomms">
        <attribute name="ref">
          <data type="NCName"/>
        </attribute>
        <element name="appinitiatedconnections">
          <oneOrMore>
            <ref name="host"/>
          </oneOrMore>
        </element>
        <element name="remotelyinitiatedconnections">
          <oneOrMore>
            <ref name="host"/>
          </oneOrMore>
        </element>
        <ref name="results"/>
      </element>
      <ref name="files"/>
      <element name="defaultcreds">
        <attribute name="ref">
          <value>fmt_cfg_ext.1.1</value>
        </attribute>
        <oneOrMore>
          <ref name="cred"/>
        </oneOrMore>
        <ref name="results"></ref>
      </element>
      <element name="storedcredentials">
        <attribute name="ref">
          <value>fcs_sto_ext.1.1</value>
        </attribute>
        <oneOrMore>
          <ref name="cred"/>
        </oneOrMore>
      </element>
      <element name="libraries">
        <attribute name="ref">
          <value>fpt_lib_ext.1.1</value>
        </attribute>
        <oneOrMore>
          <element name="library">
            <ref name="name"/>
            <ref name="version"/>
            <ref name="analysis"/>
          </element>
        </oneOrMore>
        <ref name="results"/>
      </element>
      <element name="storedcredentials">
        <attribute name="ref">
          <data type="NCName"/>
        </attribute>
      </element>
      <element name="piitransmitted">
        <attribute name="ref">
          <data type="NCName"/>
        </attribute>
        <element name="emailaddr">
          <element name="destination">
            <ref name="host"/>
          </element>
        </element>
      </element>
      <element name="supportedapis">
        <attribute name="ref">
          <value>fpt_api_ext.1.1</value>
        </attribute>
        <element name="apis">
          <oneOrMore>
            <ref name="api"/>
          </oneOrMore>
        </element>
        <ref name="results"/>
      </element>
      <element name="antiexploitcompatible">
        <attribute name="ref">
          <value>fpt_aex_ext.1.3</value>
        </attribute>
        <ref name="results"/>
      </element>
      <element name="networkcommsprotection">
        <attribute name="ref">
          <value>ftp_dit_ext.1.1</value>
        </attribute>
        <element name="pcap">
          <empty/>
        </element>
        <ref name="analysis"/>
        <ref name="results"/>
      </element>
      <element name="filesencrypted">
        <attribute name="ref">
          <value>fdp_dar_ext.1.1</value>
        </attribute>
        <ref name="files"/>
        <ref name="results"/>
      </element>
      <element name="config">
        <attribute name="ref">
          <data type="NCName"/>
        </attribute>
      </element>
      <element name="defaultcreds">
        <attribute name="ref">
          <data type="NCName"/>
        </attribute>
      </element>
      <element name="untrustedupdate">
        <attribute name="ref">
          <data type="NCName"/>
        </attribute>
        <oneOrMore>
          <ref name="file"/>
        </oneOrMore>
        <ref name="results"/>
      </element>
      <element name="suitability">
        <attribute name="ref">
          <value>ava_van.1.2C</value>
        </attribute>
        <ref name="results"></ref>
      </element>
    </element>
  </start>
  <define name="version">
    <element name="version">
      <data type="NMTOKEN"/>
    </element>
  </define>
  <define name="name">
    <element name="name">
      <text/>
    </element>
  </define>
  <define name="description">
    <element name="description">
      <text/>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <text/>
    </element>
  </define>
  <define name="useraware">
    <element name="useraware">
      <text/>
    </element>
  </define>
  <define name="other">
    <element name="other">
      <oneOrMore>
        <element name="resource">
          <ref name="name"/>
          <ref name="useraware"/>
          <ref name="note"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="results">
    <element name="results">
      <choice>
        <group>
          <ref name="determination"/>
          <ref name="analysis"/>
          <ref name="notes"/>
        </group>
        <oneOrMore>
          <element name="result">
            <ref name="determination"/>
            <ref name="analysis"/>
            <ref name="notes"/>
          </element>
        </oneOrMore>
      </choice>
    </element>
  </define>
  <define name="host">
    <element name="host">
      <element name="ipaddr">
        <data type="NMTOKEN"/>
      </element>
      <element name="hostname">
        <data type="NCName"/>
      </element>
      <element name="port">
        <data type="integer"/>
      </element>
      <optional>
        <element name="protocol">
          <text/>
        </element>
      </optional>
    </element>
  </define>
  <define name="files">
    <element name="files">
      <optional>
        <attribute name="ref">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <ref name="file"/>
      </oneOrMore>
      <optional>
        <ref name="results"/>
      </optional>
    </element>
  </define>
  <define name="analysis">
    <element name="analysis">
      <text></text>
    </element>
  </define>
  <define name="api">
    <element name="api">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="api"/>
          <element name="sdk">
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="file">
    <element name="file">
      <element name="path">
        <text/>
      </element>
      <choice>
        <element name="encryption">
          <data type="NCName"/>
        </element>
        <element name="permissions">
          <data type="NCName"/>
        </element>
        <group>
          <element name="originalfilehash">
            <attribute name="type">
              <data type="NCName"/>
            </attribute>
            <text/>
          </element>
          <element name="newfilehash">
            <attribute name="type">
              <data type="NCName"/>
            </attribute>
            <text/>
          </element>
          <element name="source">
            <text/>
          </element>
        </group>
      </choice>
    </element>
  </define>
  <define name="determination">
    <element name="determination">
      <choice>
        <value>Passed</value>
        <value>Failed</value>
        <value>Not Tested</value>
        <empty></empty>
      </choice>
    </element>
  </define>
  <define name="notes">
    <element name="notes">
      <text/>
    </element>
  </define>
  <define name="cred">
    <element name="cred">
      <ref name="name"></ref>
      <ref name="description"></ref>
    </element>
  </define>
</grammar>
